{% load static %}
<html>
  <head>
    <title>Buy Item 1</title>
  </head>
    <body>
      <h1>Item 1</h1>
      <p>Description of Item 1</p>
      <p>1111</p>
    <meta charset="utf-8">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <button class="button is-primary" id="submitBtn">Purchase!</button>
    </div>
  </section>
  </body>
</html>

